<?xml version="1.0"?>
<configuration>
  <system.web>
	<customErrors mode="Off" />
	<pages validateRequest="false"  enableViewStateMac="true" viewStateEncryptionMode="Always" />
    <compilation targetFramework="4.0" />
    <httpRuntime targetFramework="4.0" requestValidationMode="2.0" />

    <!-- Machine Key Configuration -->
    <machineKey 
      decryption="AES" 
      decryptionKey="D0CC8D9BC98B9C36023B0DD7271FC8405E32007986A3D69C2CE716EED106BFA6" 
      validation="SHA1" 
      validationKey="3DA7A917DF10B92A642434F1532E639C8EB81E8667289F2068A18B24DD8269AE7759FE23B3158EAC6955308D42B5B74CBD49CEDB3F3929D6C769DC4081CC1986,IsolateApps" 
	  />
  </system.web>
  
	<system.webServer>
	<!--
		<defaultDocument enabled="true">
		  <files>
			<clear />
			<add value="Default2.aspx" />
			<add value="Index.aspx" />
		  </files>
		</defaultDocument>
		-->
	</system.webServer>
</configuration>
