<?xml version="1.0"?>
<configuration>
  <system.web>
  	<customErrors mode="Off" />

	<pages validateRequest="false"  enableViewStateMac="true" viewStateEncryptionMode="Never" />

    <!-- Machine Key Configuration -->
    <machineKey 
      decryption="AES" 
      decryptionKey="AutoGenerate" 
      validation="SHA1" 
      validationKey="AutoGenerate" 
	  />

  </system.web>
  
    <appSettings>
	<add key="microsoft:Remoting:LateHttpHeaderParsing" value="true" />
	<add key="aspnet:AllowInsecureDeserialization" value="true" />

  </appSettings>
  
</configuration>


