<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" requestValidationMode="2.0" />
	
	<!-- Machine Key Configuration -->
    <machineKey 
      decryption="AES" 
	  decryptionKey="D0CC8D9BC98B9C36023B0DD7271FC8405E32007986A3D69C2CE716EED106BFA6" 
      validation="SHA1" 
      validationKey="3DA7A917DF10B92A642434F1532E639C8EB81E8667289F2068A18B24DD8269AE7759FE23B3158EAC6955308D42B5B74CBD49CEDB3F3929D6C769DC4081CC1986" />
  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />

    <handlers>
      <!-- Remove the default ExtensionlessUrlHandler -->
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />

      <!-- Add custom handler for extensionless URLs -->
      <add name="ExtensionlessUrlHandler-Integrated-4.0" 
           path="*" 
           verb="GET,HEAD,POST,DEBUG,PUT,DELETE" 
           type="System.Web.Handlers.TransferRequestHandler" 
           resourceType="Unspecified" 
           preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>

    <!-- URL Rewrite Module Configuration -->
    <rewrite>
      <rules>
        <!-- Rule for extensionless URLs (e.g., /home will point to /home.aspx) -->
        <rule name="Extensionless URLs" stopProcessing="true">
          <match url="^([a-zA-Z0-9_-]+)/?$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="{R:1}.aspx" />
        </rule>

        <!-- Rule for `default` to `default.aspx` -->
        <rule name="Default Extensionless" stopProcessing="true">
          <match url="^default/?$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="default.aspx" />
        </rule>

        <!-- Rule to prevent direct access to `default.aspx` -->
        <rule name="Prevent Default.aspx Direct Access" stopProcessing="true">
          <match url="^default\.aspx$" />
          <action type="Redirect" url="./default" redirectType="Permanent" />
        </rule>

      </rules>
    </rewrite>
  </system.webServer>
</configuration>
